.project-container {
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 8px 12px 1px rgba(86, 117, 116, 0.45);
    margin-top: 1em;     
}

.project-shape {
    border-style: solid red 2px;
    height: 100%;
    display: inline-block;
}

.project-content {
    display: inline-block;
    height: 100%; 
}

.project-div {
    margin: 10px;
}

.projects-label {
    color: red;
    text-align: center;   
}

.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
}

.project-name-label {
    color: blue;
}

.project-name {
    color: pink;
}

.project-data-label {
    font-weight: bold;
    color:red;
}

.project-data {
    font-weight: bold;
}